<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >Aalekh</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        
        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        
    <!--    <link rel="stylesheet" href="css/register.css">
        <link rel="stylesheet" href="css/style.css">   -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
         
    </head>
    <body>
        <header>
            <div class="logo">
                 <img src="{{ url_for('static', filename='aalekh.jpg') }}" alt="">
            </div>  
        </header> 
        
        
        
        <form action="{{url_for('login')}}" method="POST">
            <div class="container">
                <h1>Login</h1>
                <p>Login to continue writing.</p>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="user" required>

                
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="psw" required>

                </hr>

                <button type="submit" class="registerbtn" value="Login">Login</button>
            </div>
            <center>
            <div class="msg">{{ msg }}</div>
            </center>

            <div class="container signin">
                <p>Not having an account? <a href="register.html">Sign Up</a>.</p>
            </div>
        </form>
        
        
        
          <!-- Footer -->
        <footer class="footer">
            <!-- replace with your own email address -->
            <a href=" " class="footer__link">contact@aalekh</a>
            <ul class="social-list">
              
                <li class="social-list__item">
                    <a class="social-list__link" href="http://dribbble.com">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul class="social-list">
            <li style="font-size: 20px;" class="social-list__item"> Designed and Developed by Rakhi Pundir </li>
            </ul>
        </footer>
        
        
        <script src="js/index.js"></script>
        
    </body>
</html>
